body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

code {
  color: black;
}

code.block {
  border: 1px solid #CCC;
  border-radius: 3px;
  display: block;
  overflow-x: auto;
  color: #900;
  padding: 0.5em 0.5em 0.5em 1em;
}

code.result {
  background-color:white;
  display: block;
  overflow-x: auto;
  color: #333;
  padding: 0.5em 0.5em 0.5em 1em;
}

h1 img {
  width: 1em;
  margin: 0em;
}

@media (max-width: 992px) {
  .jumbotron {
    padding-left: 2em;
  }
}
